PORT=5001
FRONTEND_URL=https://aspl.vercel.app,http://localhost:5173,http://localhost:3002

CONTACT_TO_EMAIL=munna@atisunya.co
HR_TO_EMAIL=munna@atisunya.co
NEWSLETTER_TO_EMAIL=munna@atisunya.co
GRAPH_FROM_EMAIL=munna@atisunya.co
GRAPH_TENANT_ID=your_microsoft_tenant_id
GRAPH_CLIENT_ID=your_app_client_id
GRAPH_CLIENT_SECRET=your_app_client_secret
